* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: aliceblue;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 2rem;
  margin-top: .5rem;
}

.logo {
  width: 90vw;
  margin-left: .5rem;
  color: #5bacc3;
}

a:link, a:visited {
  color: #040404;
  margin-right: 2.5rem;
  text-decoration: none;
}

a:hover {
  color: #f8dd44;
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(37, 211, 102, 0.15),
    rgb(29, 161, 242, 0.15)
  ),
  url('../img/javascript.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header img {
  margin-top: 15vh;
  width: 17vw;
  border: .2rem solid rgb(248, 221, 68, .5);
  box-shadow: .5rem .75rem .3rem rgb(0, 0, 0, .2);
  border-radius: 50%;
}

.header__social {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

.header__social--icon-container {
  display: flex;
  width: 7%;
}

.header__social i {
  padding: .5rem;
  color: aliceblue;
  font-size: 2.5rem;
}

.header__social i:hover {
  color: #f8dd44;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.header__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: rgb(240, 248, 255, .90);
  box-shadow: 0 .2rem .2rem .2rem;
  width: 17vw;
  border-radius: .5rem;
}

.fa-rocket {
  margin-right: .2rem;
}

.section-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 7.5rem;
}

.text-align {
  margin-top: 7.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-one span {
  margin-left: .5rem;
}

.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 35vh;
  width: 25vw;
  box-shadow: 0px .5rem .5rem .5rem rgb(91, 172, 195, .1);
  transition: all .3s ease-in-out;

}

.card:hover {
  box-shadow: 0px 1rem 1rem 1rem rgb(91, 172, 195, .2);
}

.card__content {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
  /* border: 1px solid black; */
}

.card__bottom {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.card__bottom-left {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 90%;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.card__bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

hr {
  border: none;
  background-color: #5bacc3;
  height: 1px;
}

footer {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
}