*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  background-color: aliceblue;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  width: 100vw;
  max-width: 100%;
  height: 2rem;
  padding: 1.5rem;
  /* margin-top: .5rem; */
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: aliceblue;
}

.logo {
  width: 95vw;
  margin-left: .5rem;
  color: #5bacc3;
}

a:link, a:visited {
  color: #040404;
  margin-right: 2.5rem;
  text-decoration: none;
}

a:hover {
  color: #5bacc3;
  transition: all .2s ease-in-out;
}

.parens {
  color: #5bacc3;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(37, 211, 102, 0.15),
    rgb(29, 161, 242, 0.15)
  ),
  url('../img/javascript.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header img {
  margin-top: 15vh;
  width: 17vw;
  border: .2rem solid rgb(248, 221, 68, .5);
  box-shadow: .5rem .75rem .3rem rgb(0, 0, 0, .2);
  border-radius: 50%;
  margin-bottom: .5rem;
}

.header__social {
  margin-top: .5rem;
  margin-left: 2rem;
}

.header__social--icon-container {
  padding: .5rem;
}

.header__social i {
  color: aliceblue; 
  font-size: 3.5rem;
}

i:hover {
  color: #f8dd44;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.header__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;
  font-size: 3rem;
  color: black;
  background-color: rgb(240, 248, 255, .90);
  box-shadow: 0 .2rem .2rem .2rem;
  border-radius: .5rem;
  width: 30rem;
  padding: 2rem;
}

.fa-rocket {
  margin-right: .2rem;
}

.section-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 15rem;
}

.section-one h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__text {
  margin-top: 25rem;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.projects__subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #5bacc3
}

.section-one span {
  margin-top: -2rem;
  margin-left: .5rem;
  margin-bottom: 3rem;
}

.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 35vh;
  width: 23vw;
  box-shadow: 0px .5rem .5rem rgb(91, 172, 195, .1);
  transition: all .3s ease-in-out;
  margin-bottom: 10rem;
}

.card:hover {
  box-shadow: .3rem 1.5rem 1rem rgb(91, 172, 195, .2);
}

.card__content {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
  /* border: 1px solid black; */
}

.fill {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.fill img {
  /* object-fit: cover; */
  /* object-position: top; */
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.title {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.sub-title {
  padding: 1rem;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.card__bottom-left {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 90%;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.card__bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

hr {
  /* border: none; */
  background-color: #5bacc3;
  /* border-style: dotted; */
  height: 1px;
}

footer {
  font-size: 1.7rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
}